* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #111;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    overflow-x: hidden;
    display: grid;
    place-items: center;
}

h2 {
    padding: 15px;
    text-align: center;
    font-weight: 150;
    font-size: 1.6rem;
    text-shadow: #aaa 1px 0 10px;
}


.h1-cont {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-cont a {
    text-decoration: none;
}

.h1-cont h1,
h2 {
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6rem;
    color: #111;
}

.h1-cont h2 {
    font-size: 1.2rem;
    margin: 0;
    padding: 1px;
}

.header {
    z-index: 1000;
    background-color: #ededed;
    position: fixed;
    top: 0;
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: transform .3s ease;
}

.header.show {
    transform: translateY(-100%);
}

.navbar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    background-color: #ededed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo {
    max-height: 60px;
    max-width: 60px;
}

.nav-menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-menu a {
    text-decoration: none;
    padding: 10px 15px;
    color: #222;
    font-weight: 700;
}

.main {
    width: 100%;
}

.presentacion {
    width: 100%;
    margin-top: 100px;
    position: relative;
    text-align: center;
    height: 80vh;
    overflow: hidden;
    /* Evita que el video sobresalga del contenedor */
}

.presentacion video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    /* Para posicionar correctamente el video */
    top: 0;
    left: 0;
    z-index: -100;
}

.presentacion h2 {
    font-family: "Playball", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(237, 237, 237);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 72px;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);
    transition-delay: 2s;
    transition: opacity 4s ease-in;
}

.parallax {
    width: 100%;
    /* background-image: url("../imagenes/Capuccino.JPG"); */
    background-image: url("../imagenes/Pintura-vertical.JPG");
    min-height: 80vh;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax h2 {
    font-family: "Playball", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: rgb(237, 237, 237);
    font-size: 72px;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);
}

.menu-div {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 800px;
}

.menu-div img {
    max-width: 100%;
}



.link-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background: #222;
    font-size: 1.6rem;
    width: 100%;
}



.link-menu a {
    width: 100%;
    padding: 25px 0px;
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.link-menu:hover {
    background-color: #323232;
}

footer {
    z-index: 999;
    bottom: 0;
    width: 100%;
    background-color: #ededed;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    border-top: 1px solid #222;
}

.footer-menu {
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-menu a {
    padding: 0 10px;
    text-decoration: none;
    color: #222;
    text-shadow: #ccc 1px 0 10px;
}

.footer-menu a:hover {
    text-decoration: underline;
    text-shadow: #222 1px 0 10px;
}

.a-instagram,
.a-whatsapp {
    font-size: 3rem;
}

.copyright {
    color: #333;
    text-shadow: #ddd 1px 0 10px;
    padding: 15px;
    text-align: center;
}