* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    overflow-x: hidden;
    display: grid;
    place-items: center;
}

header {
    width: 100%;
}

.navbar {
    overflow: hidden;
    background-color: #ddd;
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    place-content: center;
}

.h1-cont {

    margin-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-cont a {
    text-decoration: none;
}

.h1-cont h1,
h2 {
    font-weight: 600;
    font-size: 1.6rem;
    margin: 0 5px;
    color: #222;
}

.h1-cont h2 {
    font-size: 1rem;
    padding-top: 2px;
    font-weight: 600;
}

.logo-container {
    /* background-color: #fff !important; */
    background-color: #ddd;
    width: 100%;
    display: flex;
    justify-content: baseline;
    /* text-align: center; */
    align-items: center;
}


.img-logo {
    border-radius: 100%;
    height: 85px;
}

.menu-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin-top: 90px;

}

.menu-div img {
    max-width: 100%;
}